<!DOCTYPE html>
<html>
	<head>
	<title>Zerodha</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://unpkg.com/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/quasar@1.15.13/dist/quasar.min.css"></script>
		<script>
			axios.defaults.xsrfCookieName = 'csrftoken';
			axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
		</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>	
		<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<!-- Add this after vue.js -->
		<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
		<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script>
		  window.Vue = Vue;
		  Vue.use(VuePlugin);
		</script> 
		<style>
		img {
		  display: block;
		  margin-left: 0px;
		  margin-right: auto;
		  width: 100px;
		  height: 100px;
		  align: left;
		}
		</style>		
	</head>
<body>


{% block content %} {% endblock %}

</body>
</html>